* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, li {
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
}

#app .header {
  height: 100vh;
  width: 100%;
  background: transparent url("./img/hero.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
#app .header nav {
  display: flex;
  height: 40px;
  background: transparent;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
#app .header nav img {
  align-self: flex-end;
  width: 40px;
}
#app .header nav .nav-options {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-self: center;
  color: #f4f4f4;
}
#app .header nav .nav-options li {
  list-style: none;
}
#app .header .title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px 0;
}
#app .header .title-wrap .subtitle {
  font-weight: 100;
}
#app .header .title-wrap .title {
  font-weight: 700;
}
#app .header .title-wrap .arrow-wrap {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
  transform: translateY(150px);
}
#app .header .title-wrap .arrow-wrap img {
  width: 100%;
  height: auto;
}
#app .each-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 75px 125px 75px 20px;
  color: #222;
}
#app .each-section .section-title-wrap {
  min-width: 300px;
  font-weight: thin;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .each-section .section-title-wrap .section-title {
  text-transform: uppercase;
}
#app .each-section .section-content {
  min-width: 280px;
  width: calc(100% - 300px);
}
#app .each-section .section-content .content-description {
  color: #EAB2B2;
  font-size: 0.8em;
  margin-bottom: 30px;
  width: 60%;
  min-width: 280px;
}
#app .skill-section {
  color: #f4f4f4;
}
#app .skill-section .skill-wrap {
  color: #FBF7F7;
}
#app .skill-section .skill-wrap.active .bar-inner {
  width: 0% !important;
}
#app .skill-section .skill-wrap .each-skill {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 100;
}
#app .skill-section .skill-wrap .each-skill .bar-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .skill-section .skill-wrap .each-skill .bar-info-wrap .skill-name {
  margin-bottom: 4px;
}
#app .skill-section .skill-wrap .each-skill .bar-outter {
  width: 100%;
  position: relative;
  height: 3px;
  background: #D25355;
}
#app .skill-section .skill-wrap .each-skill .bar-outter .bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  background: #f4f4f4;
  height: 100%;
  transition: width 5s;
}
#app .experience-section .section-content .each-experience {
  padding: 0 40px;
  height: 75px;
  display: flex;
  align-items: center;
  border: 1px solid #F4F4F4;
}
#app .experience-section .section-content .each-experience .experience-logo-wrap {
  width: 120px;
}
#app .experience-section .section-content .each-experience .experience-logo-wrap .experience-logo {
  width: 40px;
  height: auto;
}
#app .experience-section .section-content .each-experience .experience-info-wrap {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}
#app .experience-section .section-content .each-experience .experience-info-wrap .experience-info .role {
  color: #C93639;
}
#app .experience-section .section-content .each-experience .experience-info-wrap .experience-date {
  justify-self: flex-end;
  color: #9B9B9B;
}
#app .education-section .section-content {
  display: flex;
  flex-wrap: wrap;
}
#app .education-section .section-content .each-education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px 20px;
  border: 1px solid #F4F4F4;
  width: calc(50% - 10px);
  min-width: 280px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 13px;
}
#app .education-section .section-content .each-education.active {
  box-shadow: 2px 2px 10px 0 rgba(201, 54, 57, 0.1), -2px -2px 10px 0 rgba(201, 54, 57, 0.1);
}
#app .education-section .section-content .each-education .school-info-wrap {
  display: flex;
  justify-content: space-between;
}
#app .education-section .section-content .each-education .school-info-wrap .major {
  color: #C93639;
}
#app .education-section .section-content .each-education .education-date {
  margin-top: 30px;
  color: #9E9E9E;
}
#app .work-section {
  position: relative;
}
#app .work-section .section-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
#app .work-section .section-content .each-work {
  position: relative;
  min-width: 280px;
  height: 250px;
  background: transparent center no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 2px 2px 6px 0 rgba(110, 110, 110, 0.5);
}
#app .work-section .section-content .each-work .work-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .work-section .section-content .each-work .work-cover a {
  color: inherit;
}
#app .work-section .section-content .each-work:hover .work-cover {
  opacity: 1;
}
#app .work-section .next-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 1.35em;
  color: #999999;
  top: 50%;
  transform: translate(50%, -100%);
  right: 125px;
  border: none;
  background: #f4f4f4;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 0 rgba(100, 100, 100, 0.5);
  cursor: pointer;
}
#app .work-section .next-btn:focus {
  outline: none;
}
#app .work-section .progress-out {
  margin: 30px 0 10px;
  width: 60%;
  min-width: 200px;
  position: relative;
  background-color: #DEDEDE;
  height: 2px;
  overflow: hidden;
}
#app .work-section .progress-out .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #D25355;
}
#app footer .footer-content {
  height: 210px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
}
#app footer .footer-content p {
  font-size: 1.2em;
}
#app footer .footer-content p a {
  color: inherit;
}
#app footer .footer-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #A0A0A0;
  height: 60px;
  background: #1D1D1D;
}
#app footer .footer-footer .social-media {
  display: flex;
}
#app footer .footer-footer .social-media li {
  margin: 0 10px;
  list-style: none;
}
#app footer .footer-footer .social-media li a {
  color: inherit;
  text-decoration: none;
}
#app footer .footer-footer .creat-stamp {
  text-transform: uppercase;
}

@media screen and (max-width: 744px) {
  #app .header {
    background-attachment: scroll;
  }
  #app .header nav .nav-options {
    flex: 1 1 auto;
  }
  #app .each-section {
    padding: 125px 50px;
  }
  #app .each-section .section-title-wrap {
    margin: 10px auto;
  }
  #app .each-section .section-title-wrap .section-title {
    text-align: center;
  }
  #app .each-section .section-content {
    margin: 10px auto;
    width: 100%;
  }
  #app .each-section .section-content .content-description {
    width: 100%;
  }
  #app .each-section .section-content .each-experience {
    padding: 0 20px;
    margin: 10px auto 0;
  }
  #app .each-section .section-content .each-education {
    width: 100%;
    margin: 10px auto 0;
  }

  .next-btn {
    right: 50px !important;
  }
}
@media screen and (max-width: 544px) {
  #app .header nav img {
    width: 10%;
  }
  #app .each-section {
    padding: 75px 15px;
  }
}

/*# sourceMappingURL=index.css.map */
