* {margin: 0; padding: 0; box-sizing: border-box;}
p, h1, h2, h3, h4, h5, li {line-height: 1.5em; font-family: Arial, Helvetica, sans-serif;}
p {font-size: 14px;}


#app {
   .header {
        height: 470px;
        width: 100%;
        background: transparent url('./img/hero.jpg') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
    
        nav {
        display: flex;
        height: 40px;
        background: transparent;
        justify-content: space-between;
        margin: 20px;


        .nav-options {
            display: flex;
            width: 60%;
            justify-content: space-around;
            align-self: center;
            color: #f4f4f4;
            
            li {
                list-style: none;
            }
        }
        
    }

    .title-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding: 20px 0;
        

        .subtitle {
            font-weight: 100;
            
        }

        .title {
            font-weight: 700;
        }

       .arrow-wrap {
           width: 32px;
           height: 32px;
           border-radius: 50%;
           border: 1px solid #f4f4f4;
           transform: translateY(150px);

           img {
               width: 100%;
               height: auto;
           }
       }

        
    }
   }

   .each-section {
       display: flex;
       width: 100%;
       flex-wrap: wrap;
       padding: 75px 125px 75px 20px;
       color: #222;


       .section-title-wrap {
            // width: 30%;
            min-width: 300px;
            font-weight: thin;
            display: flex;
            justify-content: center;
            align-items: center;

            .section-title {
                // max-width: 50px;
                text-transform: uppercase;
            }

        }
        .section-content {
            // flex: 1 1 auto;
            min-width: 280px;
            width: calc(100% - 300px);
            // max-width: 400px;
            
            .content-description {
                color: #EAB2B2;
                font-size: 0.8em;
                margin-bottom: 30px;
                width: 60%;
                min-width: 280px;
            }
        }
   }

//    skill-section
   .skill-section {
       color: #f4f4f4;

       .skill-wrap {
            color: #FBF7F7;
            .each-skill {
                width: 100%;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 100;
                
                .bar-info-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .skill-name {
                        margin-bottom: 4px;
                        
                    }
                }

                .bar-outter {
                    width: 100%;
                    position: relative;
                    height: 3px;    
                    background: #D25355;

                    .bar-inner {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #f4f4f4;
                        height: 100%;
                    }
                }
            }
                    
        }
   }
// experience-section
   .experience-section {
       .section-content {
           .each-experience {
               padding: 0 40px;
               height: 75px;
               display: flex;
               align-items: center;
               border: 1px solid #F4F4F4;
            //    justify-content: 
            .experience-logo-wrap {
                width: 120px;
                .experience-logo {
                    width: 40px;
                    height: auto;
               }
            }

            .experience-info-wrap {
                display: flex;
                justify-content: space-between;
                flex: 1 1 auto;

                .experience-info {
                    .role {
                        color: #C93639;
                    }
                }

                .experience-date {
                    justify-self: flex-end;
                    color: #9B9B9B;
                }
            }
           }
       }
   }

//    education section
    .education-section {
        .section-content {
            display: flex;
            flex-wrap: wrap;

            .each-education {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 22px 20px;
                border: 1px solid #F4F4F4;
                width: calc(50% - 10px);
                min-width: 280px;
                margin-top: 10px;
                margin-right: 10px;
                // height: 110px;
                font-size: 13px;
                .school-info-wrap {
                    display: flex;
                    justify-content: space-between;

                    .major {
                        color: #C93639;
                    }
                }

                .education-date {
                    margin-top: 30px;
                    color: #9E9E9E;
                }
            }
        }

    }

// work section
    .work-section {
        .section-content {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;

            .each-work {
                position: relative;
                min-width: 280px;
                height: 250px;
                background: transparent center no-repeat;
                background-size: cover;
                cursor: pointer;
                margin-right: 10px;
                box-shadow: 2px 2px 6px 0 rgba(110, 110, 110, 0.5);

                .work-cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(100, 100, 100, 0.5);
                    opacity: 0;
                    transition: opacity .5s;
                    color: #f4f4f4;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: inherit;
                    }
                }

                &:hover .work-cover{
                    opacity: 1;
                }

            }
        } 
        
        .progress-out {
            margin: 20px 0;
            width: 60%;
            min-width: 200px;
            position: relative;
            background-color: #DEDEDE;
            height: 2px;
            overflow: hidden;
            .progress-in {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background-color: #D25355;
            }
        }
    }


    footer {
        .footer-content {
            height: 210px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f4f4f4;
            
            p {
                font-size: 1.2em;
            }
        }

        .footer-footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #A0A0A0;
            height: 60px;
            background: #1D1D1D;

            .social-media {
                display: flex;
                li {
                    margin: 0 10px;
                    list-style: none;

                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }
    }

}




@media screen and ( max-width:744px) {
    #app {

        .header {
            background-attachment: scroll;
            nav {
                img {
                    width: 30%;
                }

                .nav-options {
                    flex: 1 1 auto;
                }
            }
        }

        .each-section {
            padding: 125px 50px;
            .section-title-wrap {
                margin: 10px auto;

                .section-title {
                    text-align: center;
                }
            }

            .section-content {
                margin: 10px auto;
                width: 100%;

                .content-description {
                    width: 100%;
                }

                .each-experience {
                    padding: 0 20px;
                    margin: 10px auto 0;
                }

                .each-education {
                    width: 100%;
                    margin:10px auto 0;
                }
            }
        }
    }

}

@media screen and ( max-width:544px) {
    #app {
        .header {
            nav {
                img {
                    width: 10%;
                }
            }
        }

        .each-section {
            padding: 75px 15px;
        }
    }
}